{% extends 'base.html.twig' %}

{% block title %}New Priority{% endblock %}

{% block body %}
    <h1>Create new Priority</h1>

    {{ include('priority/_form.html.twig') }}

    <a href="{{ path('priority_index') }}">back to list</a>
{% endblock %}
